# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*

# Logs
logs/
*.log

# Coverage
coverage/
*.lcov

# Build output
.dist/
dist/
build/

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# PM2 dump
.pids

# Docker artifacts
*.pid
*.seed
*.csv
*.db
*.sqlite
